

<div class="card-contato">
    <div class="contato-card">
        <div class="fale-conosco m-1">
            <h2>Contato</h2>
        </div>
        <div class="precisa-falar m-2">
            <h4>Precisa falar com a gente?</h4>
        </div>
        <hr width="90%" align="center" color="#ef8f22">
        <div class="precisa-falar m-2">
            <h6>Mande um e-mail para <a href="academiacorpusfranca@hotmail.com" target="_blank">academiacorpusfranca@hotmail.com</a></h6>
        </div>

        <div class="precisa-falar ">
            <h6>Ou chame nas redes sociais</h6>
        </div>

        <div class="precisa-falar m-2 ">
            <h6>
                <a href="https://wa.me/5516991844434" target="_blank"> WhatsApp </a>
            </h6>
        </div>

        <div class="precisa-falar m-2 ">
            <h6>
                <a href="https://ig.me/m/academiacorpusfranca/" target="_blank"> Instagram </a>
            </h6>
        </div>
        <hr width="90%" align="center" color="#ef8f22">
    </div>

</div>