@{
    ViewData["Title"] = "Home Page";
}
<div class="image-Baner">
    <div class="bg-image ">
        <picture>
            <source media="(max-width:480px)" srcset="~/imagens/StartYourVertical.jpg">
            <source media="(max-width:768px)" srcset="~/imagens/StartYour.jpg">
            <img src="~/imagens/StartYour.jpg">
        </picture>
    </div>
</div>




<div class="melhor-academia">
    <h1>Venha para a melhor academia de franca!</h1>
</div>

<div class="linha-divisor">
    <hr width="50%" align="center" color="#ef8f22">
</div>

<div class="bnt-aula-teste">
    <a href=" https://ig.me/m/academiacorpusfranca/" target="_blank" class="btn btn-success btn-lg" role="button" aria-pressed="true">Quero fazer uma aula teste!</a>
</div>

<div class="corpo clearfix">
    <div class="float-sm-start col-sm-1 col-md-6 clearfix">
        <div class="informacoes-endereco">
            <div class="float-sm-start ">
                <div class="text-center">
                    <h5>
                        AvenidaAv. Rio Amazonas, 1174 <br />
                        Residencial Amazonas<br />
                        Franca, SP - 14406-010
                    </h5>
                </div>

                <div class=" ver-mapa ">
                    <strong><a style="color:black;" href="https://www.google.com/search?q=rua+rio+amazonas+1174&oq=rua+rio+amazonas+1174&aqs=chrome..69i57j33i160l3.6713j0j7&sourceid=chrome&ie=UTF-8" target="_blank">VER NO MAPA</a></strong>
                </div>

                <div class="horarios-funcionamento">
                    <div class="float-sm-start  ">
                        <h4><strong>Horário de funcionamento</strong></h4>
                        <div class="horarios">
                            <div class="dias-da-semana">
                                <div class="dias-da-semana-itens">
                                    <p> Seg a Sex</p>
                                </div>
                                <div class="dias-da-semana-itens">
                                    <p> 6h as 11h - 16h as 21h</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-sm-end float-md-end col-sm-1 col-md-6 clearfix">
        <div class="diferenciais ">
            <h4><span> Diferencial  </span></h4> <hr width="50%" align="center" color="#ef8f22">
        </div>
        @*ícones ---------------------------------------------------*@
        <div class="clearfix">
            <div class="icone-container">
                <div class="diferenciais-icones">
                    <img src="~/imagens/icones/personal.png" width="60">
                    <h6 class="text-icon">Personal <br /> formado</h6>
                </div>

                <div class="diferenciais-icones">
                    <img src="~/imagens/icones/prancheta.png" width="60">
                    <h6 class="text-icon">Avaliações</h6>
                </div>

                <div class="diferenciais-icones">
                    <img src="~/imagens/icones/peckDeck.png" width="60">
                    <h6 class="text-icon">Equipamentos <br /> seguros</h6>
                </div>

                <div class="diferenciais-icones">
                    <img src="~/imagens/icones/coracao.png" width="60">
                    <h6 class="text-icon">Ambiente <br /> saudável</h6>
                </div>

                <div class="diferenciais-icones">
                    <img src="~/imagens/icones/peso.png" width="60">
                    <h6 class="text-icon">Varios <br />aparelhos</h6>
                </div>

                <div class="diferenciais-icones">
                    <img src="~/imagens/icones/vestiario.png" width="60">
                    <h6 class="text-icon">Vestiário <br />com ducha</h6>
                </div>
            </div>

        </div>
    </div>
    @*ícones fim -----------------------------------------------*@

</div>




<div class="image-black">
    <div class="img-baner">
        <img src="~/imagens/banerSite.jpg">
    </div>
</div>


<div class="video">
    <div>
        <h3>Seja a melhor versão de você!</h3>
    </div>

    <div>
        <video width="350" controls autoplay muted loop>
            <source src="~/imagens/videos/POSTAGEM INSTAGRAN AGOSTO 22.mp4" type="video/mp4">
        </video>
    </div>
</div>