@*{
    viewdata["title"] = "home page";
}


<div class="corpus-text">
    <div class="bg-logo">
        <a href="https://www.instagram.com/academiacorpusfranca/">
            <img src="~/imagens/logo.png">
        </a>
    </div>
    <h1 class="display-4">academia corpus</h1>
</div>

*@