@{
    ViewData["Title"] = "Planos";
}


<div class="planos">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="acelerar-resultados">
    <h2>Quer acelerar os resultados?</h2>
</div>

@*<div class="bg-image_2">
    <img src="~/imagens/Modelo-Home.jpg">
</div>*@

<div class="planos-cards">
    <div class=" planos-box float-sm-start col-sm-2 col-md-4">
        <div class="card-box">
            <div onmouseover="mostrarDiv1()" onmouseout="esconderDiv1()" class="cards">
                <h1>Mensal</h1>
                <h6 class="passe-livre">
                    Passe livre, treine quantas vezes quizer
                    durante o horário de funcionamento
                </h6>
                <hr />
                <div class="new-home-preco">
                    <sub class="symbol">R$</sub>
                    <span class="whole">109</span>
                    <div class="container-sup">
                        <sup class="fraction">,90</sup>
                        <span class="period">/mês</span>
                    </div>
                </div>
                <h6>
                    Matricula R$30,00
                </h6>
                <hr />
                <a class="new-home-v4-btn new-home-v4-btn--thin new-home-v4-btn--yellow"
                   href="https://wa.me/5516991844434"
                   target="_blank" title="Assine agora">Chame agora</a>
            </div>
        </div>
    </div>

    <div class=" planos-box float-sm-start col-sm-2 col-md-4">
        <div onmouseover="mostrarDiv2()" onmouseout="esconderDiv2()" class="cards">
            <h1>Semestral</h1>
            <h6 class="passe-livre">
                Passe livre, treine quantas vezes quizer
                durante o horário de funcionamento
            </h6>
            <hr />
            <div class="new-home-preco">
                <sub class="symbol">R$</sub>
                <span class="whole">99</span>
                <div class="container-sup">
                    <sup class="fraction">,90</sup>
                    <span class="period">/mês</span>
                </div>
            </div>
            <h6>
                Matricula R$30,00
            </h6>
            <hr />
            <a class="new-home-v4-btn new-home-v4-btn--thin new-home-v4-btn--yellow"
               href="https://wa.me/5516991844434"
               target="_blank" title="Assine agora">Chame agora</a>
        </div>
    </div>

    <div class=" planos-box float-sm-start col-sm-2 col-md-4">
        <div onmouseover="mostrarDiv3()" onmouseout="esconderDiv3()" class="cards">
            <h1>Recorrente</h1>
            <h6 class="passe-livre">
                Passe livre, treine quantas vezes quizer
                durante o horário de funcionamento
            </h6>
            <hr />
            <div class="new-home-preco">
                <sub class="symbol">R$</sub>
                <span class="whole">95</span>
                <div class="container-sup">
                    <sup class="fraction">,90</sup>
                    <span class="period">/mês</span>
                </div>
            </div>
            <h6>
                Matricula R$90,00
            </h6>
            <hr />
            <a class="new-home-v4-btn new-home-v4-btn--thin new-home-v4-btn--yellow"
               href="https://wa.me/5516991844434"
               target="_blank" title="Assine agora">Chame agora</a>
        </div>
    </div>

    <div id="box-hide">
        <h4 style="color:transparent;">
            passe o mouse para ver mais informações
        </h4>
    </div>

    <div id="box-informacao" style='display: none;'>
        <h4 >
            No plano <strong>mensal</strong> você paga a matricula no valor de
            R$30,00 reais e R$109,90 reais a vista e treina um mês voltando a pagar no próximo vencimento.
        </h4>
    </div>
    <div id="box-informacao2" style='display: none;'>
        <h4>
            No plano <strong>semestra</strong> você paga a matricula de R$30,00 reais a vista e o valor de R$599,40
            reais dividido em 6 vezes de R$99,90 no cartão de credito.
        </h4>
    </div>
    <div id="box-informacao3" style='display: none;'>
        <h4>
            No plano <strong>recorrente</strong> você paga uma matricula no valor de R$90,00 reais,
            cadastra seu cartão e nos informando a data de
            fechamento da fatura para que a primeira mensalidade venha com o mês vencido.
            <br />
            Neste plano o limite do cartão não é afetado, Assim, é possível ao aluno continuar
            comprando normalmente e ainda pagar a mensalidade da <strong>academia</strong>.

        </h4>
    </div>

</div>


<script>


    // controle box-informacao hide show
    function mostrarDiv1() {
        document.getElementById('box-hide').style.display = 'none';
        document.getElementById('box-informacao').style.display = 'block';

        if (window.screen.width <= 500) {
            window.location.href = '#box-informacao';
        }

    }

    function esconderDiv1() {
        document.getElementById('box-informacao').style.display = 'none';
        document.getElementById('box-hide').style.display = 'block';

    }

    // controle box-informacao2 hide show
    function mostrarDiv2() {
        document.getElementById('box-hide').style.display = 'none';
        document.getElementById('box-informacao2').style.display = 'block';
        if (window.screen.width <= 500) {
            window.location.href = '#box-informacao2';
        }

    }

    function esconderDiv2() {

        document.getElementById('box-informacao2').style.display = 'none'
        document.getElementById('box-hide').style.display = 'block';

    }

    // controle box-informacao3 hide show
    function mostrarDiv3() {
        document.getElementById('box-hide').style.display = 'none';
        document.getElementById('box-informacao3').style.display = 'block';
        if (window.screen.width <= 500) {
            window.location.href = '#box-informacao3';
        }

    }

    function esconderDiv3() {
        document.getElementById('box-informacao3').style.display = 'none';
        document.getElementById('box-hide').style.display = 'block';
    }

</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

