@{
    ViewData["Title"] = "Planos";
}

<div class="planos">
    <h1>@ViewData["Title"]</h1>

    <p>Aqui serão colocados os planos de pagamento</p>
</div>

<div class="bg-image_2">
    <img src="~/imagens/Modelo-Home.jpg">
</div>
