html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



body {
    margin: 0;
    padding: 0;
    height: 100%;
}



footer {
    background: #ffab62;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: center;
}

.rodape {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.local {
    text-align: center;
    padding-top: 250px;
    color: white;
}

.logo-footer img {
    justify-content: center;
    text-align: center;
    width: 150px;
    margin: 25px;
}

.bg-image {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


    .bg-image img {
        padding-top: 93px;
        background-color: white;
        background-repeat: no-repeat;
        filter: brightness(90%);
        width: 100%;
        max-height: 500px;
        flex-wrap: wrap;
        justify-content: center;
    }

.corpo-total {
    margin: 200px;
}

.bg-image_2 img {
    padding-top: 90px;
    filter: brightness(40%);
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: auto;
}


.Corpus-text {
    padding-top: 80px;
    padding-left: 10px;
    align-items: flex-start;
    color: white;
}

.bg-logo img {
    width: 150px;
    margin: 5px;
    margin-left: 50px;
    margin-right: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.bnt-aula-teste {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.nav-item {
    margin-top: 20px;
    margin-left: 30px;
}

.nav-link:hover {
    padding-bottom: 5px;
    color: #ef8f22 !important;
    border-bottom: 2px solid #ef8f22;
}

.active {
    padding-bottom: 5px;
    color: #ef8f22 !important;
    border-bottom: 2px solid #ef8f22;
}

.informacoes-endereco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.ver-mapa {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.horarios {
    padding-top: 20px;
}


.horarios-funcionamento {
    text-align: center;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.dias-abertos {
    padding-top: 50px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}



.dias-da-semana {
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}



.whats {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 9999;
}


.navbar-toggler {
    background-color: #ef8f22 !important;
    border-color: #ef8f22 !important;
}

.corpo {
    margin-top: 50px;
    padding-bottom: 50px;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.container-icone {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.icone-container {
    max-height: 468px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 200px;
}

.diferenciais-icones {
    float: left;
    padding: 10px;
    height: 130px;
    width: 126px;
}



.text-icon {
    text-align: center;
    padding-top: 10px;
}



/*--------------Planos-------------------*/
.planos {
    color: black;
    padding-top: 150px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.acelerar-resultados {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.planos-box {
    color: white;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.planos-cards {
    max-width: 800px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 250px;
    margin: auto;
}

.cards {
    color: black;
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    width: 230px;
    min-height: 430px;
    padding: 20px 15px;
    background: hsla(0,0%,100%,.8);
    border-radius: 20px;
    outline: 2px solid transparent;
    box-shadow: 0 3px 27px rgb(0 0 0 /40%);
    transition: .50s;
    transform-origin: 0%
}

    .cards:hover {
        border: solid 5px #ef8f22;
        width: 240px;
        transform: translateY(-20px)
    }






.passe-livre {
    margin: 0;
}

.new-home-preco {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    color: #1c1c1c;
}

    .new-home-preco sub {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        top: 40px;
    }

    .new-home-preco span {
        font-weight: 500;
        font-size: 50px;
    }

    .new-home-preco div sup {
        font-weight: 500;
        font-size: 20px;
        margin-right: 3px;
        top: 18px;
    }

    .new-home-preco div span {
        font-family: Gotham,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        top: -7px;
        top: 15px;
        left: -5px;
    }

.new-home-v4-btn--yellow {
    color: #1c1c1c !important;
    background-color: #ffad12;
}

.new-home-v4-btn--thin {
    padding: 8px 16px !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.new-home-v4-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 315px;
    padding: 12px 18px;
    border-radius: 26px;
    border: 0;
    font-family: Gotham-Medium,sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.new-home-v4-btn--yellow {
    color: #1c1c1c !important;
    background-color: #ffad12;
}

.new-home-v4-btn--thin {
    padding: 8px 16px !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.new-home-v4-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 315px;
    padding: 12px 18px;
    border-radius: 26px;
    border: 0;
    font-family: Gotham-Medium,sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#box-hide {
    height: 250px;
    color: black;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#box-informacao {
    height: 250px;
    color: black;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    animation: fly 2s;
    animation-fill-mode: forwards;
}

    #box-informacao h4 {
        flex-shrink: 0;
        margin: 0;
        flex-direction: column;
        grid-gap: 10px;
        gap: 10px;
        padding: 20px 15px;
        background: hsla(0,0%,100%,.8);
        border-radius: 20px;
        outline: 2px solid transparent;
        animation: fly-borda 1s;
        animation-fill-mode: forwards;
    }

#box-informacao2 {
    height: 250px;
    color: black;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    animation: fly 2s;
    animation-fill-mode: forwards;
}

    #box-informacao2 h4 {
        flex-shrink: 0;
        margin: 0;
        flex-direction: column;
        grid-gap: 10px;
        gap: 10px;
        padding: 20px 15px;
        background: hsla(0,0%,100%,.8);
        border-radius: 20px;
        outline: 2px solid transparent;
        animation: fly-borda 1s;
        animation-fill-mode: forwards;
    }

#box-informacao3 {
    height: 250px;
    color: black;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    animation: fly 2s;
    animation-fill-mode: forwards;
}

    #box-informacao3 h4 {
        flex-shrink: 0;
        margin: 0;
        flex-direction: column;
        grid-gap: 10px;
        gap: 10px;
        padding: 20px 15px;
        background: hsla(0,0%,100%,.8);
        border-radius: 20px;
        outline: 2px solid transparent;
        animation: fly-borda 1s;
        animation-fill-mode: forwards;
    }

@keyframes fly {
    0% {
        color: white;
    }

    100% {
        color: #1c1c1c;
    }
}

@keyframes fly-borda {
    0% {
        color: white;
        box-shadow: 0 3px 27px rgb(0 0 0 /0%);
    }

    100% {
        color: #1c1c1c;
        box-shadow: 0 3px 27px rgb(0 0 0 /40%);
    }
}
